@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root{
  --primary-color: #ff6b6b;
  --secondary-color :#794afa;
  --secondary-dark-color : #453c5c;

  --white-color : #ffffff;
  --light-bg-color : #f2f3f5;
  --light-text-color: #7c899a;
  --border-color: #0a021c;

  --font-small:13px;
  --font-smaller:11px;

  --percent100 : 100%;
  --percent50 : 50%;

  --fw3:300;
  --fw5:500;
  --fw6:600;
  --fw7:700;
  --fw8:800;

  --trans-background-color : background-color .3s, color .3s;
  --trans-background : background-color .3s;
  --trans-color : color .3s;
}